@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');


.home-title {
    font-family: "Atma", serif;
    color: #145255;
    font-size: 2em;
    margin-top: 30px;
}

h2 {
    font-family: "Atma", serif;
    margin: 0;
}

.overpass {
    font-family: "Overpass", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }

.atma-regular {
    font-family: "Atma", serif;
    font-weight: 100;
    font-style: normal;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav a{
    text-align: center;
    text-decoration: none;
    color: white;
    font-family: "Overpass", serif;
    padding: 35px;
}


#hero-msg h1, #hero-msg h4 {
    text-align: center;

}

.button-box {
    text-align: center;
    font-family: "Overpass", serif;
    text-decoration: none;

}

main section {
    text-align: center;
}

main section img {
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #dde3ef; 
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#5d1616;
}
nav a:hover {
    background-color: #145255;
    color: white;
    text-decoration: none;
}

.card-img {
    border: 10px solid #145255;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;

}   

.join{
    background-color: #dde3ef;
    color: #5d1616;
    font-family: "Overpass", serif;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
  


.book {
    background-color: #145255;
    color: #dde3ef;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover {
    background-color: #dde3ef;
    color: #5d1616;
}

.join:hover {
    background-color: #145255;
    color: #dde3ef;
}

#background {
    background-color: #eeca3b;
}

.msg {
    background-color: #145255;
    line-height: 1.5em;
    padding: 35px;
}



h4 {
    color: #5d1616;
}

.msg h2 {
    color: #eeca3b;
    font-family: "Atma", serif;
}

.msg p {
    color: #dde3ef;
    font-family: "Overpass", serif;
    padding-bottom: 15px;
}
footer {
    color: #dde3ef;
    font-family: "Overpass", serif;
    background-color: #145255;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a {
    color: #eeca3b;
    text-decoration: none;
    font-family: "Overpass", serif;
}
footer a:hover {
    color: #dde3ef;
}

.logo {
    width: 80px;
    padding-top: 10px;
}
#logo-link {
    padding-top: 5px;
}

#hero-img {
    width: 100%;
}

footer p {
    font-size: 1.2em;
}    

.small_logo {
    width: 80px;
}

footer .social img {
    padding-top: 15px;
}